* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*main*/
main {
  margin: 0 auto;
  max-width: 1600px;
}

/*Header*/
.header__list {
    display: flex;       
    list-style: none;    
}

.header__list-item img {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}

.header__list-item {   
    display: flex;
    flex: 1;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    height: 3rem;
}

.header__list-item:hover {
  background-color: grey; 
}


.btn-primary:link,
.btn-primary:visited,
.btn-primary:hover,
.btn-primary:active {
  color: black;
  text-decoration: none;
}

/*Titulo*/
.titulo {
    padding: 3rem 3rem 0rem 3rem;
    font-size: 2rem;
    font-weight: 900;
}


/*Formularios*/
.formulario-filtros {
  display: flex;
  justify-content: space-between;     
  padding: 3rem;    
}

.filtro-categoria label {
  margin-right: 2rem;
  font-size: 1.2rem;
}

.filtro-categoria,
.filtro-nombres {
  display: flex;   
  width: 100%;
  max-width: 500px; 
  align-items: center;
}

select, input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 400px;
}

.filtro-nombres input{
    border-radius: 9999px;
    padding-left: 2rem;
    height: 2.5rem;
}

/*Grilla*/

.grilla-peliculas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding: 3rem;  
}

.pelicula img {
  width: 100%;
  border-radius:5px;  
}

/*Footer*/

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1.5rem;
  font-size: 0.9rem;
  margin-top: 2rem;
}

/*Responsive*/

@media only screen and (min-width: 577px) and (max-width: 1024px) {
  .filtro-categoria,
  .filtro-nombres {
    display: flex;   
    width: 100%;
    max-width: 320px; 
    align-items: center;
  }

  
  .grilla-peliculas {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
  }

}

@media only screen and (max-width: 576px) {  
  /*header*/

  .header__list-item {
    height: 2rem;
  }
  
  .header__list-item img {    
    margin-right: 0.3rem;
  }
  .btn-primary {
    font-size: 0.8rem;
  }

  /*Formularios*/
  .formulario-filtros {
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;ç
  }

  .filtro-categoria label {
    display: none;
  }

  .filtro-categoria,
  .filtro-nombres {
    flex-direction: column;  
    padding-top: 2rem;  
  }

  select, input {
    font-size: 0.9rem;
    padding-left: 1rem;
  }

  .filtro-nombres input {
    padding-left: 1.5rem;
  }
  /*grilla*/
  .grilla-peliculas {
    grid-template-columns: 1fr;
    padding: 1.5rem;
  }









}
