/* css de index */
.contenedorLogin{
    display:flex;
    flex-direction:column;
    margin:0 auto;
    line-height:3rem;
}

.imagen{
    margin: 0 auto;
    margin-bottom: 3rem;
}

.logo{
    border-radius: 50px;
}

.login{
    margin: 0 auto;
    text-align: right;
    margin-bottom: 1rem;
}

.botonIniciarSesion {
    text-align: center;
    margin: 0 auto;
    border: 1px;
    border-style:solid;
    background-color: rgba(43, 255, 0, 0.5);
    border-radius: 3px;
    width:15rem;
    margin-bottom: 1.2rem;
}

.hyperlink{
    text-align: center;
}

/* css de 2-recuperacion-de-contraseña */
.contenedorRecuperacionDeContraseña{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    margin:0 auto;
    text-align: center;
    line-height:3rem;
    margin-top: 5rem;
}

.recuperarContraseña{
    font-weight:bold;
    font-size: 2.3rem;
    text-align: center;
    width:100%;
    margin-bottom:2rem;
}

.Registrarse{
    margin: 0 auto;
    text-align: right;
    margin-bottom:2rem;
}

.BotonesRecuperarContraseña{
    display:flex;
    flex-direction:row;
    text-align:center;
    white-space:nowrap;
    width:100%;
}

.botonEnviarEmail{
    margin: 0 auto;
    text-align: center;
    border: 1px;
    border-style:solid;
    background-color: rgba(43, 255, 0, 0.5);
    border-radius: 3px;
    width: 10rem;
    margin-left: 40%;
}

.botonCancelar{
    margin: 0 auto;
    text-align: center;
    border: 1px;
    border-style:solid;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 3px;
    width: 10rem;
    margin-right: 40%;
}

/* css de 3-registro-de-usuario */
.contenedorRegistroDeUsuario{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: left;
    white-space:nowrap;
    margin:0 auto;
    text-align: center;
    line-height: 4rem;
    margin-top: 1rem;
    padding-left: 8rem;
}

.Titulo{
    font-weight:bold;
    font-size: 2.5rem;
    text-align: left;
    width: 100%;
}

.IngresoDeDatos{
    display:flex;
    flex-direction: column;
    text-align:right;
    line-height: 3rem;
    margin-right: 5rem;
    width:40%;
}

.fila{
    justify-content:flex-end;
}

.fila input {
    padding:0.55rem;
    margin-left: 1rem;
}

.MetodoDePago{
    text-align: left;
    line-height: 2rem;
    width:40%;
}

.Botones{
    display:flex;
    flex-direction:row;
    text-align:right;
    white-space:nowrap;
    width:100%;
}

.botonRegistroConfirmar{
    text-align: center;
    border: 1px;
    border-style:solid;
    background-color: rgba(43, 255, 0, 0.5);
    border-radius:3px;
    margin-left:50%;
    margin-right:2rem;
    width:10rem;
}

.botonRegistroCancelar{
    text-align: center;
    border: 1px;
    border-style:solid;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 3px;
    width:10rem;
}