* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

main{
    flex: 1;
}

.contenedorFooter{
    min-height:100vh;
    display: flex;
    flex-direction: column;
}

/*Footer*/

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1.5rem;
  font-size: 0.9rem;
  width: 100%;
  margin-left: 0;
}

/* css de index */
.contenedorLogin{
    display:flex;
    flex-direction:column;
    margin:0 auto;
    line-height:2rem;
    flex: 1;
}

.imagen{
    margin: 0 auto;
    margin-bottom: 3rem;
}

.logo{
    border-radius: 50px;
}

.login{
    margin: 0 auto;
    text-align: right;
    margin-bottom: 1rem;
}

.botonIniciarSesion {
    text-align: center;
    margin: 0 auto;
    border: 1px;
    border-style:solid;
    background-color: rgba(43, 255, 0, 0.5);
    border-radius: 3px;
    width:15rem;
    margin-bottom: 1.2rem;
}

.hyperlink{
    text-align: center;
}

/* css de 2-recuperacion-de-contraseña */
.contenedorRecuperacionDeContraseña{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    line-height: 2rem;
}

.recuperarContraseña{
    font-weight:bold;
    font-size: 2.3rem;
    text-align: center;
    width:100%;
    margin-bottom:2rem;
}

.Registrarse{
    margin: 0 auto;
    text-align: right;
    margin-bottom:2rem;
}

.BotonesRecuperarContraseña{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.botonEnviarEmail{
    text-align: center;
    border: 1px;
    border-style:solid;
    background-color: rgba(43, 255, 0, 0.5);
    border-radius: 3px;
    width: 10rem;
}

.botonCancelar{
    margin: 0 auto;
    text-align: center;
    border: 1px;
    border-style:solid;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 3px;
    width: 10rem;
}

/* css de 3-registro-de-usuario */
.contenedorRegistroDeUsuario{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: left;
    white-space:nowrap;
    margin:0 auto;
    text-align: center;
    margin-top: 5rem;
    padding-left: 8rem;
}

.Titulo{
    margin-left: 30%;
    margin-top:5%;
    font-weight:bold;
    font-size: 2.5rem;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 1.2;
}

.IngresoDeDatos{
    display:flex;
    flex-direction: column;
    justify-content: right;
    text-align:right;
    line-height: 2rem;
    margin-right: 5rem;
    width:40%;
    gap: 0.5rem;
}

.fila{
    display:flex;
    justify-content:flex-end;
}

.fila input {
    padding:0.55rem;
    margin-left: 1rem;
}

.MetodoDePago{
    text-align: left;
    line-height: 2rem;
    width:40%;
}

.Botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    gap: 2rem;
    margin: 0 auto;
    margin-top: 1rem;
    padding-left: 0;
}

.botonRegistroConfirmar{
    text-align: center;
    border: 1px;
    border-style: solid;
    background-color: rgba(43, 255, 0, 0.5);
    border-radius: 3px;
    width: 10rem;
}

.botonRegistroCancelar{
    text-align: center;
    border: 1px;
    border-style: solid;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 3px;
    width: 10rem;
}